
@{
    var mainContent = Model.MainContentList;    
    @if (mainContent[0] is Models.Comment)
    {
        var discussionThread = Model.CommentsParentDiscussionThread;
            <div class="row-cols-auto" style="margin:1em; margin-bottom:3em;">
                    <div class="card">
                    <div class="card-header">
                    "User name with link" <br> @discussionThread.Title;
                    </div>
                    <div class="card-body">
                    @discussionThread.Text
                    </div>
                    </div>
            </div>

            @foreach (var item in mainContent)
            {
                    <div class="row" style="margin:1em;">
                            <div class="col-3">
                            </div>
                            <div class="col-9">
                                    <div classs="card">
                                            <div class="card-header">
                                            "UserName"
                                            </div>
                                            <div class"card-body">
                                            "@item.Text"
                                            </div>
                                    </div>
                            </div>
            </div>

        }

    }
    if(mainContent is Models.UserData)
    {
        

    }
}
