@{    
    var sideBarOptions = Model.SideBarOptions;
    <table>
        @if (sideBarOptions != null)
        @foreach (var item in sideBarOptions)
        {
            {
            <tr>
                <td>
                            @switch (item)
                            {
                                case Models.Category:
                                    <a asp-page="/SubCategories" asp-route-id="@item.Id">@item.Title</a>
                                    break;
                                case Models.SubCategory:
                                    <a asp-page="/DiscussionThread" asp-route-id="@item.Id">@item.Title</a>
                                    break;
                            }
                </td>
            </tr>
            }                        
        }
    </table>
}