@{
    @model DiscussionThreadPostPartialViewModel
    <div class="main-content-container">
        <div class="main-content-title"></div>
        <div class="discussion-thread-post-form-container">
            <form method="post" class="discussion-thread-post-form">
                <div class="discussion-thread-post-form-title">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="Title" required asp-for="Title">
                </div>
                <div class="discussion-thread-post-form-text">
                    <label for="text">Text</label>
                    <textarea id="text" name="Text" required asp-for="Text"></textarea>
                </div>
            </form>
        </div>
    </div>
}
