@model ExtremeWeatherBoard.Pages.MessagesModel
@{
}

<div class="post-reply-message-container">
    <partial name="PagePartials/Messages/_PostNewMessagePartial" model="Model" />
</div>

<div class="post-reply-message-messagethread-container">
        <partial name="PagePartials/Messages/_MessageThreadPartial" model="Model" />   
</div>
