@page
@model ExtremeWeatherBoard.Pages.PostMessageModel
@{
}

@*     @if(Model.MainContent != null)
    {
        <div class="row">
            <h1> Message to <a>@Model.MainContent.MainContentList.</a></h1>
        </div>
    }
    else
    {
    <div class="row">
        <h1> Message to <a>@Model.Receivername</a></h1>
    </div>
    } *@
<div class="row w-100">
    <h1> Message to <a>@Model.Receivername</a></h1>
</div>
<div class="row w-100 ">
    <form method="post">
        <div class="row w-100 justify-content-end">
            <div class="col-md-8">
                <label for="Title">
                    Title
                </label>
                <input type="text" class="form-control" asp-for="Title" maxlength="40" placeholder="Message Title" />
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-10">
                <label for="Message Text">Text</label>
                <textarea class="form-control" name="text" placeholder="Message Text" asp-for="Text" rows="10"></textarea>
            </div>
            <input type="hidden" asp-for="ReceiverId" />
            <div class="row justify-content-end">
                <button type="submit" class="btn">Send Message</button>
            </div>
            </div>
    </form>
</div>