@page
@model ExtremeWeatherBoard.Pages.PostMessageModel
@{
}
@section MainContent
{
@*     @if(Model.MainContent != null)
    {
        <div class="row">
            <h1> Message to <a>@Model.MainContent.MainContentList.</a></h1>
        </div>
    }
    else
    {
    <div class="row">
        <h1> Message to <a>@Model.Receivername</a></h1>
    </div>
    } *@
    <div class="row">
        <h1> Message to <a>@Model.Receivername</a></h1>
    </div>
    <form method="post">

        <div class="row">
            <div class="col-md-3">Title</div>
                <label for="Title"></label>
               <input type="text" class="form-control" asp-for="Title" maxlength="40" placeholder="Message Title" />
        </div>
        <div class="row">
            <label for="Message Text">Text</label>
            <textarea class="form-control" name="text" placeholder="Message Text" asp-for="Text" rows="10"></textarea>
        </div>
        <input type="hidden" asp-for="ReceiverId"/>
        <div class="row justify-content-end">
            <button type="submit" class="btn">Send Message</button>
        </div>
    </form>


    }


@section Sidebar {
    @if (Model.SideBarOptions != null)
    {
        <partial name="_SideBarPartial" model="Model.SideBarOptions" />
    }
}